<!DOCTYPE html>
<html>
<head>
<style>
#asteroids {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#asteroids td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#asteroids tr:nth-child(even){background-color: #f2f2f2;}
  
#asteroids tr:hover {background-color: #ddd;}
  
#asteroids th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #608DF8;
    color: white;
}
</style>
</head>
<body>
<table id="asteroids" class="table is-fullwidth is-striped is-bordered">
    <title>Asteroids</title>
    <thead>
    <tr>
        <th>Asteroid name</th>
        <th>Estimated size (diamater)</th>
        <th>Distance from the Earth</th>
        <th>Next passing close to the Earth</th>
    </tr>
    </thead>
    <tbody>
    {% for asteroid in asteroids %}
    <tr data-href={{ asteroid.id }} style="cursor: pointer;">
        <td>{{ asteroid.name }}</td>
        <td>between {{ asteroid.sizemin }} Km and {{ asteroid.sizemax }} Km</td>
        <td>{{ asteroid.distance }} lunar distance(s)</td>
        <td>{{ asteroid.nexttime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = "asteroid?id=" + row.dataset.href;
            })
        })
    })
</script>